body {
  margin: 0;
  font-size: 1.3125rem;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
}

h3 {
  font-size: 2.25rem;
}

h1 span,
h2 span {
  font-weight: 900;
  display: block;
}
p {
  margin-bottom: 0;
}

header,
section {
  padding: 6.25rem 0;
}

.small-text {
  font-size: 16px;
}

.container {
  width: 570px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.my-photo {
  max-width: 50%;
  height: auto;
  /* border: 5px solid white; */
}

.inverse {
  background-color: #252525;
  color: #fff;
}
.about-me {
  background-color: #ffeaea;
}
