body {
  margin: 0;
  font-size: 1.3125rem;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.625rem;
}

h3 {
  font-size: 2.25rem;
}

h1 span,
h2 span {
  font-weight: 900;
  display: block;
}

header,
section {
  padding: 6.25rem 0;
}

header {
  background-color: #d7d7d7;
}

.about-me {
  background-color: #ffeaea;
}

.projects {
  background-color: #eaf9ff;
}

.small-text {
  font-size: 16px;
}

.container {
  /* width: 570px; */
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.my-photo {
  max-width: 50%;
  /* height: auto; */
  border-radius: 50%;
}
